<div class="jumbotron">
    <h1>Lista de Contatos</h1>
    <p>
        Gerencie seus contatos em qualquer lugar!
    </p>

    <p>
        <% if user_signed_in? %>
            <%= link_to 'Meus Contatos', contacts_path, class: 'btn btn-primary btn-lg' %>
        <% else %>
            <%= link_to 'Crie sua conta', new_user_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
    </p>
</div>