<% if object.errors.any? %>
<div>
    <div class="alert alert-danger">
        Opa! Encontramos <%= pluralize(object.errors.count, 'erro', 'erros') %>
        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            <!-- object.errors.full_message -->
        </ul>
    </div>
</div>
<% end %>
<!-- object.errors.any? -->